textarea:focus, input:focus{
    outline: none;
}
h1 {
    font-weight: normal;
    font-size: calc(10px + 1.25vmin);
}
ul {
    list-style-type: none;
}

.price-dropdown-btn {
    border: none;
    background-color: white;
    cursor: pointer;
}

.price-dropdown-options {
    /* display: none; */
    position: absolute;
    min-width: 160px;
    z-index: 1000;
}

.price-dropdown-btn:hover .price-dropdown-options {
    display: block;
}