textarea:focus, input:focus{
    outline: none;
}

h1 {
    font-weight: normal;
    font-size: calc(10px + 1.25vmin);
}

ul {
    list-style-type: none;
}

.restaurant-li {
    padding-bottom: 30px;
}

.restaurant-li:hover {
    background-color: lightgray;
}

.restaurant-li-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: calc(10px + 0.6vmin);
}

.price-dropdown-btn {
    border: none;
    background-color: white;
}

.clear-btn {
    border: none; 
}

.done-btn {
    border: none;
}

.rating-dropdown-btn {
    border: none;
    background-color: white;
}

.craving-dropdown-btn {
    border: none;
    background-color: white;
}

.anti-craving-dropdown-btn {
    border: none;
    background-color: white;
}

.re-center-btn {
    border: none;
}